/* ----------------------------------------------------------------
	Custom CSS*/

	:root{
		--main_gray_medium: #606060;
		--main_gray_light:#9D9C9B;
		--secondary_700:#C4C7CB;
		--orange_light:#f26335;
		--orange_dark:#f06537;
		--orange_over: #c3522d;
		--yellow_light:#ffeccb;
		--blue_dark:#002c6c;
		--blue_light:#b8d7f9;
		--white:#ffffff;
		--cnvs-themecolor: #f26335;
		--divider: #b4b4b4;;
		--bcolor: #F9F9F9;
		--success_200: #28a745; /* Color para el éxito */
		--brown_200: #654321; /* Color marrón */
		--violet_200: #8a2be2; /* Color violeta */
		--brick_200: #8b0000; /* Color ladrillo */
		--info_200: #17a2b8; /* Color para información */
		--yellow_200: #ffd700; /* Color amarillo */
		--yellow_100: #ffff00; /* Otro tono de amarillo */
		--sky_200: #87ceeb; /* Color cielo */
		--cherry_200: #de3163; /* Color cereza */
		--orange_200: #ff7f50; /* Color naranja */
	}

	body{background-color: var(--bcolor) !important;}
	
	.color-gray-med{color: var(--main_gray_medium) !important;} .color-gray-lig{color: var(--main_gray_light) !important;}  .color-700 {color: var(--secondary_700) !important;}
	.color-orange-lig {color: var(--orange_light) !important;} .color-orange {color: var(--orange_dark) !important;} .color-yellow {color: var(--yellow_light) !important;}
	.color-blue {color: var(--blue_dark) !important;} .color-blue-lig {color: var(--blue_light) !important;}
	.color-white {color: var(--white) !important;}

	.bg-gray-med{background-color:var(--main_gray_medium)!important} .bg-gray-lig{background-color:var(--main_gray_light)!important}  .bg-700 {background: color var(--secondary_700) !important;}
	.bg-orange-lig {background-color:var(--orange_light)!important} .bg-orange {background-color:var(--orange_dark)!important} .bg-yellow {background-color:var(--yellow_light)!important}
	.bg-blue {background-color:var(--blue_dark)!important} .bg-blue-lig {background-color:var(--blue_light)!important}
	.bg-white {background-color:var(--white)!important}

	.btn-secondary { --bs-btn-bg:var(--orange_light); --bs-btn-border-color: var(--orange_light); --bs-btn-hover-bg: var(--orange_over); --bs-btn-hover-border-color: var(--orange_over);}
	.is-expanded-menu .full-header #logo {border-right: none;}
	.is-expanded-menu .full-header .primary-menu .menu-container {border-right: none;}
	.log{max-width: 126px; max-height: 100px;}
	#header-wrap {border-bottom: 5px solid var(--orange_light) !important;}
	.line, .double-line { border-top: 1px solid var(--divider); margin:20px 0;}
	:is(.tith,.stith){text-transform: uppercase !important; font-weight: 600 !important;}
	.tith{font-size: 32px; color: var(--blue_dark) !important; }
	.stith{font-size: 13.5px !important; color: var(--orange_light) !important; letter-spacing: 2px;}
	.white-section {background-color: var(--white); padding: 25px 20px; -webkit-box-shadow: 0px 1px 1px 0px #dfdfdf; box-shadow: 0px 1px 1px 0px #dfdfdf; border-radius: 3px;}
	.white-section label {display: block; margin-bottom: 15px;}
	.white-section pre { margin-top: 15px; }
	.dark .white-section {background-color: #111; -webkit-box-shadow: 0px 1px 1px 0px #444; box-shadow: 0px 1px 1px 0px #444;}
	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {width: 50%;}
	.ml-1{margin-left: 10px !important;}
	.mr-1{margin-right: 10px !important;}
	.mr-0{margin-right: 0 !important;}
	.pr-0{padding-right: 0 !important;}
	.pl-0{padding-left:0 !important;}
	.dropdown-item.active, .dropdown-item:active { background-color: var(--orange_light);}
	.titu{font-size: 24px; color: var(--blue_dark); font-weight: 600;}
	.lino{border-top: 3px solid var(--orange_light); margin:20px 0;}
	.text-right{text-align: right !important;}
	.fwb{ font-weight: bold !important;}
	.just{text-align: justify !important;}
	.tsection{font-size: 20px !important; color: var(--orange_light); text-transform: uppercase;}
	.dot{margin: 0; border: 0; border-top: var(--blue_dark) dashed 3px; opacity: 100%; width: 100%; display: inline-flex;}
	.tcard{border-radius: 5px; background-color: var(--white); border: 1px solid var(--divider); }
	.hcard{font-size: 17px; color: var(--white); background-color: var(--blue_dark); border-bottom: 2px solid var(--orange_light); padding: 10px; border-radius: 4px 4px 0 0;}
	.ccard{padding: 1em;}
	.daterangepicker td.active, .daterangepicker td.active:hover {background-color: var(--blue_dark);}

	/*JOSS*/
	.radius-top-5 {border-radius: 5px 5px 0 0 !important;}
	.radius-bottom-5{border-radius: 0 0 5px 5px;}

	/* Buttons */

:is(.btn_red_small,.btn_black_small,.btn_bicolor_small){padding: 5.5px 15px; gap: 10px;}
:is(.btn_red_medium,.btn_black_medium,.btn_bicolor_medium){padding: 7px 15px; gap: 10px;}
:is(.btn_red_large,.btn_black_large,.btn_bicolor_large){padding: 8px 10px; gap: 20px;}

:is(.btn_red_small,.btn_red_medium,.btn_red_large,.btn_bicolor_small,.btn_bicolor_medium,.btn_bicolor_large){background: var(--orange_light, var(--orange_light)); color: var(--light-100); border-radius: 3px; border-bottom: 4px solid var(--orange_over, var(--orange_over)); justify-content: center; align-items: center; cursor: pointer;}
:is(.btn_red_small,.btn_red_medium,.btn_red_large):hover{border-bottom: 4px solid var(--orange_light); background: var(--orange_dark);}

:is(.btn_black_small,.btn_black_medium,.btn_black_large){background: var(--orange_light); color: var(--white); border-radius: 3px; border-bottom: 4px ; display: initial; justify-content: center; align-items: center; cursor: pointer; }
:is(.btn_black_small,.btn_black_medium,.btn_black_large,.btn_bicolor_small,.btn_bicolor_medium,.btn_bicolor_large):hover{background-color: var(--orange_over); border-bottom: 4px; color: var(--white)}

.btn_orange{background-color: var(--orange_light); padding: 10px; border-radius: 3px; text-transform: uppercase; color: var(--white); display: inline; font-style: normal !important;}
.btn_orange:hover {background-color: var(--orange_over);}
